html,button,input,select,text{
    color:#444;
}
html{
    font-size:1em;
    line-height: 1.4;
}
body{
    background: #dfdbdb;
}
#wrapper{
    max-width: 900px;
    min-width: 320px;
    margin: auto;

}
.entete{
    display: flex;
justify-content: space-between;
}
img{
    border: solid 1px #ccc;
    border-radius: 3px;
    background: #FFFFFF;
    box-shadow: 2px 4px rgba(0,0,0,0.2);
    width:50%;
}
.info{
    display: flex;
}
.info p{
    width: 15%;
    font-family: "JetBrains Mono ExtraBold";
}
footer div li{
    display:inline-block;
    width: 20% ;
}
footer a{
    text-decoration: none;

}

.tooltip-box-js {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    max-width: 250px;
    z-index: 1000;
    display: none;
    pointer-events: none;
    transition: opacity 0.2s;
}